extends layout

block content
  include navbar

  if search
    div
      p Showing results for "#{search}"

  include books-table
    
  div 
    br
    a.button(href="books/new") Add Book

  include page-buttons